.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  font-family: Arial;
  flex-direction: column;
  justify-content: flex-start;
}
.text {
  font-family: Impact;
}
